
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans+Caption:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,200;0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
  /*-- Main font sizes --*/
  --title-size:      3rem;
  --body-size:       1.07rem;
  --code-size:       0.875rem;
  --aside-size:      0.75rem;
  --fig-cap-size:    0.875rem;
  /*-- Main font colors --*/
  --title-color:     #110a31;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    PT Sans Caption;
  --mono-font:       PT Mono;
  --body-font:       PT Sans;
  --navbar-font:     PT Sans Narrow;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    1.125rem;
  --contents-size:   0.875rem;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    1.125rem;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8rem;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       1.25rem;
  --text-size:        1.125rem;
  --text-color:       rgba(255, 255, 255, .8);
  --hover-color:      white;
  --bkgd-color:       #110a31;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        0.75rem;
  --hover-color:      white;
  --bkgd-color:       #110a31;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */

.nav-search {
  font-size: 0.8rem;
}

.nav-dropdown-content a:hover {
  background-color: #110a31;
}

/*p {
  text-align: justify;
}*/

d-article h2 {
    margin: 1rem 0 1rem 0;
}

d-article h3 {
    margin: 1rem 0 0.5rem 0;
}

d-article li {
    margin-bottom: 0;
}

li + li, ul + ul {
  margin-top: 6px;
}

.headerbox {
  padding: 10px;
  text-align: left;
  background: #110a31;
  margin: 0.75rem 0 0.375rem 0;
}
hbox{
  font-family: PT Sans Caption;
  color: white;
  font-size: 1.375rem;
  font-weight: bold;
}

.headerbox-secondary {
  padding: 10px;
  text-align: left;
  border: 5px solid #110a31;
  margin: 0.75rem 0 1.0rem 0;
}
hbox-secondary{
  font-family: PT Sans Caption;
  color: #110a31;
  font-size: 1.375rem;
  font-weight: bold;
}

.figcaption {
  font-family: PT Serif;
  color: grey;
  font-size: 0.75rem;
  font-style: italic;
}

.highlightbox {
  padding: 1.75rem;
  text-align: left;
  background: #efefee;
  padding-bottom: 1.125rem;
  margin: 0.625rem 0 1.0rem 0;
}
.highlight {
  font-family: PT Serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 140%;
}

.desaturated {
  color: #8c8c8c;
  font-weight: 200;
}

.orange {
  color: orange;
}

small {
  font-size: 0.9rem;
  line-height: 180%;
}

.nospace {
  margin-bottom: 0;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
	.distill-site-header.responsive{
		max-height: 100vh;
		overflow-y: auto;
		position fixed;
		top: 0;
	}

  html {
    --title-size: 2.625rem;
    --body-size: 1.1rem;
  }

  .distill-site-header {
    --title-size: 1.375rem;
    --text-size:  1.375rem;
  }

  .highlight {
      font-family: PT Serif;
      font-size: 1.05rem;
      font-weight: 600;
      line-height: 140%;
  }
}

.card-column {
  float: left;
  position: relative;
  width: 30%;
  padding: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: #f6f6f6;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(17, 10, 49, 0.2);
  transition: 0.3s;
  padding: 3px 18px 12px 18px;
  border-radius: 0.5rem;
  margin: auto;
  place-items: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 1.5px 7.5px 15px 0 rgba(17, 10, 49, 0.5);
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(.5ch, 32ch));
  grid-gap: 2.5rem;
  max-width: 80vw;
  width: 110ch;
  padding: 3rem 1rem 5rem 1rem;
  overflow: hidden;
  place-self: center;
  justify-content: center; 
}

grid-item {
  margin: auto;
}

li.card {
  margin: 0;
}

.card-content {
  font-size: .9em;
  line-height: 180%;
}

.card h2 {
  padding-bottom: .3rem;
  font-size: 1.6rem;
}

.card-repo {
  background-color: #f6f6f6;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(17, 10, 49, 0.2);
  transition: 0.3s;
  padding: 12px 12px 12px 12px;
  border-radius: 0.5rem;
  margin: 12px;
  place-items: center;
  overflow: hidden;
  width: 300px;
  height: 100%;

  > :last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus-within {
    --card-gradient: #24a9d5 max(8.5rem, 20vh);
  }
}





.card-repo-img {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  height: 180px;
  object-fit: cover;
  /*border: 1px solid #110a31;*/
  
  ~ * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}








.posts-list .post-preview .thumbnail {
  max-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 769px) {
	.nav-dropdown-content{
		max-height:100vh;
		overflow-y:auto;
	}
}
